	<% provide(:title, "Help") %>
	<h1>Help</h1>
	<p>
	  Get help on the Ruby on Rails Tutorial at the
	  <a href="https://www.messenger.com/t/raye7Egypt">Facebook Chat Messenger</a>.
	  To get help on this web app, Contact me at
	  <a href="https://www.linkedin.com/in/ahmedfouadelta/"><em>My Linkedin Profile</em>
	  </a>.
	</p>